.place__web-link {
    margin: 0;
    padding: 0;
    font-family: 'Inter', Arial, Sans-serif;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    color: #FFFFFF;
    text-decoration: underline;
    transition: opacity .5s ease-in-out;
}

.place__web-link:hover {
    opacity: 0.3;
}