.footer {
    margin: 0;
    padding: 64px 0px 24px 16px;
    width: 100%;
    max-width: 1280px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 32px;
}

@media screen and (min-width: 768px) {
    .footer {
        flex-direction: row;
        column-gap: 18px;
        padding: 88px 24px 24px 24px;
    }
    
}

@media screen and (min-width: 1024px) {
    .footer {
        padding: 92px 48px 24px 48px;
    }
    
}